{% extends "base.html" %}
{% block content %}

<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Articles List
      </h1>
      <a class="button is-primary" href="{% url 'articles:create' %}">Create Article</a>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    {% if articles %}
    {% for article in articles %}
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child box">
          <a href="{% url 'articles:article_detail' slug=article.slug %}">
            <p class="title">{{ article.title }}</p>
            <p class="subtitle">{{ article.snippet }}</p>
            <p class="subtitle">{{ article.date }}</p>
            <p class="subtitle">Created by: <b>{{ article.author }}</b></p>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</section>


{% endblock %}